/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* header */
header{
   
    padding: 20px 78px 34px 78px;
   
    position: absolute;
    z-index: 2;
    width: 100%;
    background: linear-gradient(to bottom, rgb(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}







header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo img{
    width: 70px;
}
header nav .fa-bars{
    display: none;
}


.navbar .menu{
    display: flex;
}


.navbar a{
    color: white;
    font-size: 22px;
    font-weight: 400;
    padding: 10px 8px;
    margin: 0 20px;

}
.navbar li:last-child a{
    padding-right: 0;
}
.navbar li a{
    transition: color ease 0.8s;
}
.navbar li:hover a{
    color: #F70142;
}
.navbar li.active a{
    border-bottom: 2px solid#F70142;
    
}
/* hero */
.hero{
 position: relative;
  height: 100vh;
  overflow: hidden;
 
}
.hero img{
    width: 100%;
}

.hero .hero-info h1{
    color: white;
    font-size: 74px;
    line-height: 74px;
    font-weight: 900;
    margin-bottom: 28px;
}
.hero .hero-info h1 span{
    font-size: 38px;
    font-weight: 400;
    display: block;
}
.hero .hero-info{
    position: absolute;
    top: 50%;
    left: 78px;
    transform: translateY(-50%);
    
    
    max-width: 405px;
}
.hero .hero-info p{
    color: white;
    font-size: 20px;
    line-height: 30px;
   margin-bottom: 42px;
}
.hero .hero-info .cta-btn{
    background: #F70142;
    color: white;
    font-size: 21px;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 24px;
    transition: background-color ease 0.4s ;
}
.hero .hero-info .cta-btn:hover{
   background-color: black;
   
}
.hero .swiper-pagination{
    bottom: 140px;
    padding-right: 28px;
    text-align: right;


}
.hero .swiper-pagination .swiper-pagination-bullet {
    width: 23px;
    height: 23px;
    background: transparent;
    border: 2px solid white;
    opacity: 1;
    outline: none;
}
.hero .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    border: 2px solid red ;
}
.fa-solid, .fas {

    color: white;
}

@media (max-width:767px){
.hero .swiper-slide::before{
    content: '';
     position: absolute;
     width: 100%;
     height: 500px;
     bottom: 0;
     left: 0;
     background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}
}

/* 
tab */
@media (min-width:768px) and (max-width:991px){
    .hero .hero-info h1{
        font-size: 42px;
        line-height: 54px;
    }
}
@media (min-width:768px) and (max-width:991px){
    header{
        padding: 20px 30px;
    }
}
@media (min-width:768px) and (max-width:991px){
    .navbar a{
        margin: 0 12px;
    }
}
@media (min-width:768px) and (max-width:991px){
    .hero .swiper-pagination{
        bottom: 20px;
        padding-right: 20px;
    }
}
@media (min-width:768px) and (max-width:991px){
.hero .hero-info {
    position: absolute;
    top: 59%;
    left: 25px;
    transform: translateY(-50%);
    max-width: 405px;
}
}
@media (min-width:768px) and (max-width:991px){
    .hero img{
        height: 100vh;
        object-fit: cover;
    }
}




@media (min-width:993px) and (max-width:1048px){
    .hero img{
        height: 100vh;
        object-fit: cover;
    }
}











/* mobile */
@media (max-width:767px){
    header{
        padding: 20px;
    }
}
@media (max-width: 991px){
    header .logo img{
        width: 45px;
    }
}
@media (max-width:767px){
    header nav .fa-bars{
        display: block;
       font-size: 23px;
    }
}
@media (max-width:767px){
    .hero .swiper-slide::before{
        content: '';
         position: absolute;
         width: 100%;
         height: 500px;
         bottom: 0;
         left: 0;
         background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    }
    }
@media (max-width: 767px) {
    .navbar .menu{
   
 
         display: block;
        position: absolute;
        background: #060606;
        left: 0;
        right: 0;
        top: 80px;
        padding: 30px 0;
        display: none;  
       
        /* position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        padding: 40px;
        background-color: #631b803f;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all .42s; */
    }

    .navbar .menu.open{
        display:block;
        
    }
}
@media (max-width: 767px){
    .hero img{
        height: 100vh;
        object-fit: cover;
    }
}
@media (max-width: 767px) {
    .hero .hero-info {
        
       left: 20px;
       right: 20px;
       top: auto;
       transform: none;
       bottom: 80px;
       padding: 0;
        
    }
}
@media (max-width: 767px) {
    .hero .hero-info h1{
        color: white;
        font-size: 44px;
        line-height: 54px;
        font-weight: 900;
        margin-bottom: 8px;
    }
}
@media (max-width: 767px){
    .hero .swiper-pagination{
        bottom: 10px;
        padding-left: 20px;
        text-align: left;
    }
}
@media (max-width: 767px) {
    .hero .hero-info .cta-btn{
        background: #F70142;
        color: white;
        font-size: 21px;
        font-weight: 700;
        padding: 10px 24px;
        border-radius: 24px;
        transition: background-color ease 0.4s ;
    }
}
@media (max-width: 767px) {
    .navbar .menu.open{
        right: 0;
        
    }
}





